[submodule "CheatSheetSeries"]
	path = CheatSheetSeries
	url = https://github.com/Batche-Hub/CheatSheetSeries.git
[submodule "PayloadsAllTheThings"]
	path = PayloadsAllTheThings
	url = https://github.com/Batche-Hub/PayloadsAllTheThings.git
[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists
